.index{
    text-align: center;
}

#DS{
    text-align: left;
}

#reg{
     padding-top: 200px;
}
h1{
    color: rgb(162, 214, 193);
    margin-top: 1px;
    margin-left: 90px;
    padding-right: 60px;
}
h2{
    color: rgb(49, 53, 53);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
}
h3{
  color: rgb(247, 46, 10);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
}
.registration{
  font-size: medium;
  width: 340px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 60px;
  border: 1px solid black;
  border-width: 3px;
  margin-left: 490px;  
  margin-top: 90px;
  background-color:rgba(234, 234, 234, 0.01); 
  color: rgb(255, 89, 0);
}
body{
  background-size: cover;
}
